/* .background {
  min-height: 40vh;
  display :flex ;
  justify-content: center;
  align-items: center;
  position: relative;
} */



.background {  
  content:"";
  display:block;
  position:absolute;
  top: 0 ;
  left: 0;
  bottom: 0;
  height : 100%;
  width: 100%;
  z-index: -1;
  background-image: url("https://images8.alphacoders.com/135/1354012.png");
  background-repeat: no-repeat;
background-size: cover;
opacity: 0.60;
/* opacity: 0.3; */

 /* oppacifier l'image quon le voit sans que ça soit l'information principal et cadre pour l'image */
}
 img {
  border-radius: 10px;
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: 450px;
  width: 350px;
  border-image-slice: 30 fill;
  /* border-image: repeating-linear-gradient(30deg, #4d9f0c, #9198e5, #4d9f0c 20px) 60; */

  
}
.button {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius : 10px ;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  margin:-20px 2px 4px;
  cursor: pointer;
  border: none
}
h2{
  border-radius: 10px;
  text-align: center;
    padding:  1.5rem 2.5rem;
    margin: 0 0 1rem 70rem ;
    font-size: 1.5rem;
    background-image: linear-gradient(120deg, #84fab0 0%,  #8fd3f4 100%);
    width: 10%;
    color: rgb(255, 255, 255);
    opacity: 0.92;
    position: fixed; /* ou absolute selon vos besoins */
    bottom: 0;
    right: 0;

}





p{
  border-radius: 10px;
  text-align: center;
    padding:  1.5rem 2.5rem;
    margin: 0 0 1rem 36rem ;
    font-size: 1.5rem;
    background-image: linear-gradient(120deg, #84fab0 0%,  #8fd3f4 100%);
    width: 19%;
    color: azure;
    opacity: 0.92;
}

  

  d{
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #84fab0 0%,  #8fd3f4 100%);
    margin: 0 0 2rem 30;
    font-size: 1.5rem;
    color: white;
    float: left;
    opacity: 0.92;

  }
 
  /* .background {
    min-height: 40vh;
    display :flex ;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .background ::before {  
    content:"";
   background-image: url("https://images8.alphacoders.com/135/1354012.png");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0 ;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
   /* oppacifier l'image quon le voit sans que ça soit l'information principal et cadre pour l'image */
   
  
 
  /* https://images8.alphacoders.com/135/1354012.png */
  /* https://wallpapers.com/images/featured/studio-ghibli-tykbiycf0hjhjo39.jpg */
  /* https://wallpapercosmos.com/w/full/2/a/b/1198591-3840x2160-desktop-4k-studio-ghibli-background-photo.jpg */